/node_modules
/npm-debug.log
/yarn-error.log
/yarn-debug.log

/dist
/tmp
/out-tsc
.angular/
.cache/

*.js.map
*.css.map
*.tsbuildinfo
!karma.conf.js
!protractor.conf.js

/coverage

.env
.env.*
!env.d.ts

.DS_Store
Thumbs.db

.vscode/