<div class="employee-list">
    <div class="page-header">
        <h1>Employees list</h1>
    </div>

    <div class="header-actions">
        <a [routerLink]="['/employees/new']" class="btn btn-success add-btn">
            + New employee
        </a>
        
        <a class="btn btn-danger logout-btn" (click)="onLogout()">
            Logout
        </a>
    </div>

    @if (isLoading) {
        <div class="loading">
            <p>Loading employees...</p>
        </div>
    }

    @if (errorMessage) {
        <div class="error alert alert-danger">
            {{ errorMessage }}
        </div>
    }

    @if (!isLoading && !errorMessage) {
        
        <div class="employee-grid">
            @for (employee of employees; track employee.employeeId) {
                <div class="employee-card">
                    <h3>{{ employee.firstName + " " + employee.lastName }}</h3>
                    <p><strong>Email:</strong> {{ employee.email }}</p>
                    <p><strong>Role:</strong> {{ employee.role }}</p>
                    <p><strong>Birth day:</strong> {{ employee.birthDate | date:'dd/MM/yyyy' }}</p>
                    
                    @if (employee.managerName) {
                        <p>
                            <strong>Manager:</strong> {{ employee.managerName }}
                        </p>
                    }
                    
                    <div class="actions">
                        <a [routerLink]="['/employees/edit', employee.employeeId]" 
                            class="btn btn-secondary btn-edit"
                            title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
    
                        <button class="btn btn-danger" 
                            (click)="onDelete(employee.employeeId, employee.firstName + ' ' + employee.lastName)"
                            title="Remove">
                                <i class="fas fa-trash"></i>
                        </button>
    
                        <a [routerLink]="['/employees', employee.employeeId]" 
                            class="btn btn-primary"
                            title="Details">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            } @empty {
                <div class="empty">
                    <p>No employees registered.</p>
                </div>
            }
        </div>
    }
</div>